body{
    background-size: cover;
}

#status{
    font-size: 15px;
}

#found{
    font-size: 16px;
}

canvas{
    background-color: coral;
    border-color: purple;
    box-shadow: 5px, 5px, 5px, grey;
    margin: 130px;
    border-radius: 20px;
}

#footer{
    background-color: powderblue;
    color: peru;
    font-size: 13px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%
}